<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, intital-scale=1">
        <title>{% block title %}{% endblock %}DjangoChatApp</title>
        <style>
            .chat-messages{
            height: 400px;
            overflow-y: auto;
            }
        </style>
    </head>

    <body >
        <nav>
            <div style="flex-direction: column;">
                <h1>DjangoChatApp</h1>
                <a href="/">
                    Home
                </a>
            </div>

            <div>
                {% if request.user.is_authenticated %}
                    <h1>Logged in as: {{request.user.username}}</h1>
                    <div>
                        <a href="/chat/online-users/">
                            Online users
                        </a>
                    </div>
                    <div>
                        <a href="/chat/rooms/">
                            Public Chat Rooms
                        </a>
                    </div>
                    <div>
                        <a href="/logout">
                            Log out
                        </a>
                    </div>
                    
                {% else %}
                    <div>
                    <a href="/login">
                        Log In
                    </a>
                    </div>
                    <div>
                        <a href="/signup">
                            Sign Up
                        </a>
                    </div>
                {% endif %}
            </div>
        </nav>

        {% block content %}
        {% endblock %}

        {% block scripts %}
        
        {% endblock %}
    </body>
</html>
