{% extends 'chat/base.html' %}

{% block title %}Login | {% endblock %}

{% block content %}
<div>
    <h1>
        Log In
    </h1>
</div>

<form method="post" action=".">
    {% csrf_token %}
    <div>
        <label class="text-white">Username</label>
        <input type="text" name="username">
    </div>
    <div>
        <label class="text-white">Password</label>
        <input type="password" name="password">
    </div>

    {% if form.errors %}
        <div class="alert alert-danger">
            <strong>Invalid login:</strong> Please check your username and password.
        </div>
    {% endif %}

    <button>
        Log In
    </button>
</form>
{% endblock %}
